<h2>All Pizza Orders</h2>

<% @pizzas.each do |pizza| %>
  <table>
    <tr>
      <td id="col1">Name: </td>
      <td><%= pizza.pretty_name() %></td>
    </tr>
    <tr>
      <td id="col1">Order:</td>
      <td><%= pizza.quantity %> x <%= pizza.topping %></td>
    </tr>
  </table>
  <div id="buttons">
    <a href="/pizzas/<%= pizza.id %>">Order Details</a>
    <a href="/pizzas/<%= pizza.id %>/edit">Amend Order</a>
    <form action="/pizzas/<%= pizza.id %>/delete" method="post">
      <input type="submit" value="Delete Order">
    </form>
  </div>
  <hr/>

<% end %>
